<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>FireEye</title>

	<link href="styles/easy-responsive-tabs.css" media="screen" rel="stylesheet" type="text/css">
	<link href="styles/style.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body>
	<header></header>
	<div id="container">
		<div class="body">
			<div class="pageContent">
				<div class="page" id="pgMockup">
					<div class="container">
						<div id="feeds-tab">          
							<ul class="resp-tabs-list feeds">
								
							</ul> 

							<div class="resp-tabs-container feeds">                                                        
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="external/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="external/js/easyResponsiveTabs.js"></script>
	<script type="text/javascript" src="scripts/Mockup.js"></script>

	<script>
		$( document ).ready( function(){
        	Mockup.init();
      	});
	</script>

</body>

</html>